<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">The ALMANAC Lab is a full deployment of the ALMANAC Smart City Enablers which can be used to experiment with IoT in a Smart City context. Use our components when building YOUR IoT solution, here at the ALMANAC-Lab. You can experiment with the OPEN data we are publishing, or add your own. If you prefer, download our platform, and get started with things like storage, messaging, security in just a few seconds. Our components can be used individually, or together as a comprehensive Reliable Smart Secure Internet of Things for Smart Cities platform.</p>
                <a href="http://almanac-lab.alexandra.dk/" class="btn btn-default btn-xl">See it in action!</a>
            </div>
        </div>
    </div>
</section>
